<section _ngcontent-c1="" class="nav-group">
    <label _ngcontent-c1="" for="tabexample2">Infrastructures</label>
    <ul _ngcontent-c1="" class="nav-list">
        <li _ngcontent-c1=""><a _ngcontent-c0="" class="x-lprjwdg-button x-lprjvar-action-area1_opendiv_0 nav-link" id="mnuInfra0">Dashboard</a></li>
        <li _ngcontent-c1=""><a _ngcontent-c0="" class="x-lprjwdg-button x-lprjvar-action-area1_opendiv_1 nav-link" id="mnuInfra1">ScriptCenter</a></li>
        <li _ngcontent-c1=""><a _ngcontent-c0="" class="x-lprjwdg-button x-lprjvar-action-area1_opendiv_3 nav-link" id="mnuInfra3">Help</a></li>
    </ul>
</section>